{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container m-auto">
    <div class="w-full flex flex-col justify-center items-center">
        <h1 id="edit_profile_header" class="mt-10 text-xl">Welcome back, {{ user.full_name }}!</h1>
        <div class="mt-3 flex flex-col w-2/5 bg-white border border-gray-200 shadow-sm rounded-xl p-4 md:p-5 dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400">
            <form
                    id="edit_profile_form"
                    hx-post="{% url 'home' %}"
                    hx-trigger="submit"
                    hx-swap="multi:#edit_profile_form:outerHTML,h1:outerHTML"
                    hx-ext="multi"
            >
                {% csrf_token %}
                <div class="mt-3 max-w">
                    <label class="block text-sm font-medium mb-2 dark:text-white" for="email">Email</label>
                    <input
                            class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
                            disabled
                            id="email"
                            type="email"
                            value="{{ user.email }}"
                    >
                </div>
                <div class="mt-3 max-w">
                    <label class="block text-sm font-medium mb-2 dark:text-white" for="first_name">First Name</label>
                    <input
                            class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-primary focus:ring-primary-500 disabled:opacity-50 disabled:pointer-events-none"
                            id="first_name"
                            name="first_name"
                            required
                            type="text"
                            value="{{ form.first_name.value }}"
                    >
                </div>
                <div class="mt-3 max-w">
                    <label class="block text-sm font-medium mb-2 dark:text-white" for="last_name">Last Name</label>
                    <input
                            class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-primary focus:ring-primary-500 disabled:opacity-50 disabled:pointer-events-none"
                            id="last_name"
                            name="last_name"
                            required
                            type="text"
                            value="{{ form.last_name.value }}"
                    >
                </div>
                <div class="mt-3 max-w">
                    <label class="block text-sm font-medium mb-2 dark:text-white" for="occupation">Occupation</label>
                    <input
                            class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-primary focus:ring-primary-500 disabled:opacity-50 disabled:pointer-events-none"
                            id="occupation"
                            name="occupation"
                            required
                            type="text"
                            value="{{ form.occupation.value }}"
                    >
                </div>
                <div class="flex justify-center">
                    <button
                            class="mt-5 m-auto py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-primary text-white hover:bg-primary-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none"
                            type="submit"
                    >
                        Update Profile
                    </button>
                </div>
            </form>
        </div>
        <h5 class="mt-5 font-medium cursor-pointer" style="text-decoration:underline;" onclick="openModal()">Invite User</h5>
    </div>
</div>
<!-- Modal Background Overlay -->
<div id="invite-user-modal" class="fixed inset-0 flex items-center justify-center z-50 hidden"
     style="background-color: rgba(128, 128, 128, 0.5);">
    <!-- Modal Box -->
    <div class="bg-white w-full max-w-md rounded-lg shadow-lg relative z-10">
        <!-- Modal Header -->
        <div class="flex justify-between items-center my-2" style="border-bottom: 1px solid #D3D3D3;">
            <h3 class="text-lg font-semibold my-2" style="padding-left:10px;">Invite User</h3>
            <button type="button" class="text-black hover:text-gray-600" onclick="closeModal()" style="margin-right:15px;">
                <i class="fa-solid fa-circle-xmark" style="color: #b0b0b0;"></i>
            </button>
        </div>
        <form
            id="invite_user_form"
            hx-post="{% url 'invite_user' %}"
            hx-trigger="submit"
        >
            {% csrf_token %}
            <!-- Modal Body -->
            <div class="mt-4 px-2" style="padding:15px">
                <p>Enter the email address of the user you would like to invite.</p>
                <label for="invited_email" class="block text-sm font-medium text-gray-700 mt-3">Email</label>
                <input type="email" id="invited_email" name="email" class="mt-3 py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-primary focus:ring-primary-500 disabled:opacity-50 disabled:pointer-events-none" placeholder="test@test.com">
            </div>

            <!-- Modal Footer -->
            <div class="flex justify-end mt-5" style="border-top: 1px solid #D3D3D3; padding: 0 15px 15px;">
                <button type="button" style="margin-right:10px;" class="mt-5 py-2 px-4 text-sm font-medium rounded-lg border border-gray-300 bg-white text-black" onclick="closeModal()">
                    Close
                </button>
                <button type="submit" class="mt-5 py-2 px-4 text-sm font-medium rounded-lg border border-transparent bg-primary text-white">
                    Invite User
                </button>
            </div>
        </form>

    </div>
</div>
{% endblock content %}

{% block script %}
<script>
    function openModal() {
        document.getElementById('invite-user-modal').classList.remove('hidden');
    }

    function closeModal() {
        document.getElementById('invite-user-modal').classList.add('hidden');
    }
</script>
{% endblock script %}